# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

#project has .idear/workspace.xml 
.idea/workspace.xml

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
